$icon-font-path: '../fonts/';


.slick-arrow {
    position: absolute;
    top: 100%;
    z-index: 10;

    &:before {
        display: none;
    }
}

.slick-prev {
    background: url(../images/slider-prev.png) no-repeat;
    display: block;
    /* left: 0; */
    left: auto;
    right: 60px;
    z-index: 10;

    &:hover {
        background: url(../images/slider-prev.png) no-repeat;
        z-index: 10;  
    }
}

.slick-next {
    background: url(../images/slider-next.png) no-repeat;
    display: block;
    /* right: 100%;
    left: 30px; */
    right: 20px;
    left: auto;
    z-index: 10;

    &:hover {
        background: url(../images/slider-next.png) no-repeat;  
        z-index: 10;
    }
}

.slider-min  {

    &.pl {
     
        .slick-arrow {
            margin-left: 50px;
        }
    }

    &.pr {

        .slick-arrow {
            margin-left: 0;
        }

        .slick-next {
            left: calc(100% - 80px);
            right: 0;
        }

        .slick-prev {
            left: calc(100% - 110px);
           
        }
    }
}

.slider-deco {
    margin-top: 90px;
    position: relative;

    .slick-dots {
        counter-reset: sliderItem;
        font-family: "Proxima Nova", sans-serif;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
        width: 100%;
        position: relative;
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: 20px;      
        bottom: 100%;
        position: absolute;

        li {
            width: auto;
            height: auto;
            margin: 0;
            padding: 0 12px;
            color: #c5d2c7;
            line-height: 27px;
            font-size: 24px;

            button {
                display: none;

                &:after {
                    display: none !important;
                }
            }

            &:after {
                display: none;
            }

            &:before {
                content: "" counter(sliderItem);
                counter-increment: sliderItem;
                font-size: 24px;               
            }

            &.slick-active {
                vertical-align: bottom;
                color: #b2001e;
                line-height: 24px;

                &:before {
                    font-size: 48px;
                   
                }
            }

            &:nth-child(-n+9):before { /* 1 - 9 */
                content: "0" counter(sliderItem); /* becomes 01 - 09 */
            }
            
        }
    }  
}

.slider-3 {
    position: relative;
    z-index: 10;

    .slick-arrow {
        top: 15px;
        right: 20px;
        left: auto;
    }

    .slick-prev {
        right: 60px;
    }
}

