<header class="header">  
		<div class="pagewrap">
				<a href="http://vesna.zotis.org/dist/" class="logo">
						<img src="images/logo.png" alt="">
				</a>
				<nav class="nav">
						<div class="phone">								
								<select>
									<option data-display="(044) 236 60 82">(044) 236 60 82</option>
									<option value="1">(068) 948 71 74</option>																		
								</select>												
							</div>
						<ul class="menu">							
							<li class="active"><a href="#0">О нас</a></li>
							<li><a href="#0" class="dropdownStart">Услуги</a>
								<ul class="dropdown">
									<li><a href="demodekoz-page.html">Лечение демодекоза</a></li>
									<li><a href="akne-page.html">Лечение акне</a></li>
									<li><a href="postakne-page.html">Лечение постакне</a></li>
									<li><a href="problem-dermis-page.html">Проблемная кожа</a></li>
									<li><a href="lechenie-prishey-page.html">Лечение прыщей</a></li>
									<li><a href="pigmentaciya-page.html">Лечение пигментации</a></li>
								</ul>
					
							</li>
							<li><a href="actions-page.html">Акции</a></li>
							<li><a href="blog-page.html">Блог</a></li>
							<li><a href="#0">Отзывы</a></li>
							<li><a href="contacts-page.html">Контакты</a></li>
							<li class="lang">								
									<select>
										<option data-display="RU">RU</option>
										<option value="1">UA</option>
										<option value="2">EN</option>									
									</select>												
							</li>
						</ul>
						<div class="toggle">
							<div class="span span-open" id="one">
									<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
							<div class="span span-close" id="two">
									<i class="fa fa-times" aria-hidden="true"></i>
							</div>
						</div>          
					</nav>
		</div>    
</header>    